LIST

In [49]:
students = ["Swetha", "janapriya", "Jefrin", "Brownie"]
marks = [25, 5, 30, 15, 18, 25]

Accessing List Elements

In [10]:
print(students[1])
print(marks[2])
print(students[-1])

janapriya
30
Brownie

Modify List

In [11]:
students[3] = "Tommy" 
print(students)

['Swetha', 'janapriya', 'Jefrin', 'Tommy']

Adding Elements

In [54]:
students.insert(2, "Honeypie")
marks.append(12)
print(students)
print(marks)

['Swetha', 'janapriya', 'Honeypie', 'Jefrin', 'Brownie']
[25, 5, 30, 15, 18, 25, 12]

Removing Elements

In [13]:
students.remove("Swetha")
students.pop()            
del students[0]           
print(students)

['Honeypie', 'Jefrin']

Looping Through the list

In [14]:
for item in students:
    print(item)

Honeypie
Jefrin

common list functions

In [17]:
print(len(marks))
print(max(marks))           
print(min(marks))

7
30
5

Creating a tuple

In [7]:
numbers = (10, 20, 30, 40)
fruits = ("apple", "banana", "cherry")
print(numbers)
print(fruits)

(10, 20, 30, 40)
('apple', 'banana', 'cherry')

Single Element Tuple

In [8]:
single = (5,)
print(type(single))

<class 'tuple'>

Accessing Tuple elements

In [10]:
fruits  = ("Apple", "Cherry", "orange")
print(fruits[0])
print(fruits[-1])

Apple
orange

Slicing Tuples

In [50]:
numbers = (10, 20, 30, 40, 50)
print(numbers[0:3])

(10, 20, 30)

In [51]:
t1 = (1, 2, 3)
t2 = (4, 5, 6)
result = t1 + t2
print(result)

(1, 2, 3, 4, 5, 6)

In [52]:
print(t1 * 2)

(1, 2, 3, 1, 2, 3)

In [53]:
print(5 in t1)

False

Dictionary

In [18]:
dict = {"name": "Jefrin", "age": "20", "DOB": "Jan"}
print(dict)

{'name': 'Jefrin', 'age': '20', 'DOB': 'Jan'}

Sets

In [23]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}

print(A.union(B))
print(A.intersection(B)) 
print(B.difference(A))

{1, 2, 3, 4, 5, 6}
{3, 4}
{5, 6}

Functions

In [25]:
def add(a, b):
    return a + b

result = add(5, 3)
print("Sum:", result)

Sum: 8

Lambda Functions

In [26]:
square = lambda x : x * x
print(square(5))

25

In [28]:
add = lambda a, b : a + b
print(add(2, 3))

5

Recursion

In [34]:
def factorial(n):
    if n==1:
        return 1 
    else:
        return n * factorial(n - 1)
print("Factorial of 5:", factorial(10))

Factorial of 5: 3628800

Fibonacci Series Using Recursion

In [47]:
def fibonacci(n):
    if n <= 1:

        return n
    else:
        return fibonacci(n-1) + fibonacci(n - 2)

for i in range(6):
    print(fibonacci(i), end = " ")

0 1 1 2 3 5

CREATE A LIST IN SQUARES

In [43]:
squares = [x ** 2 for x in range(1, 6)]
print(squares)

[1, 4, 9, 16, 25]

FILTER EVEN NUMBERS

In [44]:
even = [x for x in range(10) if x % 2 == 0]
print(even)

[0, 2, 4, 6, 8]

CONVERT UPPER CASE

In [46]:
words = ["Apple", "Cherry", "Brownie"]
upper_word = [word.upper() for word in words]
print(words)
print(upper_words)

['Apple', 'Cherry', 'Brownie']
['APPLE', 'CHERRY', 'BROWNIE']

CLIENT PROJECT in DATA CLEANING

In [57]:
data = [
    {"id": 1, "name": "Alice", "age": 25},
    {"id": 2, "name": "Bob", "age": 30},
    {"id": 3, "name": "Charlie", "age": 22},
    {"id": 2, "name": "Bob", "age": 30},  # Duplicate
    {"id": 4, "name": "David", "age": 19},
    {"id": 5, "name": "Eve", "age": 35}
]
print("Original Data:")
for record in data:
    print(record)
    
cleaned_data = []
for item in data:
    if item not in cleaned_data:
        cleaned_data.append(item)

filtered_data = [person for person in cleaned_data if person["age"] > 21]

print("\nCleaned and filtered Data:")
for record in filtered_data:
    print(record)

Original Data:
{'id': 1, 'name': 'Alice', 'age': 25}
{'id': 2, 'name': 'Bob', 'age': 30}
{'id': 3, 'name': 'Charlie', 'age': 22}
{'id': 2, 'name': 'Bob', 'age': 30}
{'id': 4, 'name': 'David', 'age': 19}
{'id': 5, 'name': 'Eve', 'age': 35}

Cleaned and filtered Data:
{'id': 1, 'name': 'Alice', 'age': 25}
{'id': 2, 'name': 'Bob', 'age': 30}
{'id': 3, 'name': 'Charlie', 'age': 22}
{'id': 5, 'name': 'Eve', 'age': 35}